<% provide(:title, 'Home') %>
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>A social networking website for education</h3>
                <h1>Wellcome to Elearning App!</h1>
                <h5>Train your employees without pulling them away 
                from their jobs using a top eLearning app。Sign up 
                for a free account with TalentCards and build better 
                training for mobile workers。</h5>
            </div>
            <div class="col-lg-12 himg mb-5">
                <img src="assets/home.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>