
    <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Choices</label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" placeholder="ex. Number" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Correct answer
                    </label>
            </span>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Choices</label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" placeholder="ex. Grammer" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Correct answer
                    </label>
            </span>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Choices</label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" placeholder="ex. Science" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Correct answer
                    </label>
            </span>
        </div>
    </div>