<% provide(:title, 'Edit | Manage Categories') %>
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Edit Word</h3>
        </div>
    </div>
</div>

<div id="service">
    <div class="container">
    <%= render 'form' %>
    </div>
</div>