<% provide(:title, 'New | Manage Categories') %>
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Create NEW Word</h3>
        </div>
    </div>
</div>

<div id="service">
    <div class="container">
    <%= form_for [:admin, @category, @word] do |f| %>
        <label for="exampleInputEmail1" class="form-label">Word title</label>
        <div class="field">
            <%= f.text_area :words, placeholder: "ex. Choose words that are related to Math.", class: "w-100 p-2" %>
        </div>
        
        <%= render 'form' %> 
        
        <%= f.submit "Post", class: "btn btn-block btn-primary" %>
    <% end %>
    </div>
</div>