<% provide(:title, 'Edit Profile') %>
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Settings</h3>
        </div>
    </div>
</div>
<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h4>Edit your profile.</h4>
            <div class="hline"></div>
            <%= render 'form' %> 
        </div>
    </div>
</div>