<% @user ||= current_user %>
<div class="stats">

        <strong id="following" class="stat">
            <%= @user.followed_users.count %>
        </strong>
        following


        <strong id="followers" class="stat">
            <%= @user.followers.count %>
        </strong>
        followers

</div>